<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>RealRussia-Регистрация</title>
</head>
<body>
    <img src="../static/img/logo.png" alt="logo">
    <form action="/reg" class="register" method="post">
        <input type="nickname" name="nickname" id="nickname" placeholder="никнейм">
        <input type="email" name="email" id="email" placeholder="email" required>
        <input type="number" name="number" id="number" placeholder="номер телефона" required>
        <input type="password" name="password" id="password" placeholder="пароль" required>
        <input type="submit"></button>
    </form>
</body>
</html>